*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

div img{
    display: block;
    width: 100%;
}

header{
    height: 100px;
}

.default-flex-box{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    margin: auto;
    /* max-width: 992px; */
}

.colored-background{
    color: white;
    background-color: #122a57;
}

.text-color{
    color: #122a57;
}

.button{
    background-color: #122a57;
    color:white;
    text-align: center;
    display: block;
    height: 50px;
    width: 220px;
    line-height: 50px;
    border-radius: 30px;
    margin: 10px 0px;
    text-decoration: none;
}

.top-menu{
    max-width: 260px;
    display: flex;
    align-items: center;
}

.top-menu li{
    list-style-type: none;
}

.top-menu li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 10px;
    font-size: 14px;
}

.main-content{
    height: 90vh;
}

.main-content .main-content-text{
    min-height: 200px;
}

.main-content h1{
    margin: 0;
    font-size: 48px;
}

.main-content p{
    margin-top: 10px;
}

.quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}

.quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

.quem-somos-text p{
    margin-bottom: 10px;
    width: 90%;
}

.quem-somos img{
    min-width: 420px;
}

.servicos{
    padding: 30px 120px;
}

.servicos h2{
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 34px;
}

.servicos-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicos-content img{
    width: 120px;
}

.servico-content-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servico-content-item p{
    font-weight: bold;
    margin: 20px 0px;
    font-size: 18px;
}

.servico-content-item a{
    background-color: white;
    color: #122a57;
    text-decoration: none;
    border-radius: 30px;
    padding: 8px 30px;
    font-weight: bold;
    font-size: 12px;
}

.o1{
    order: 1;
}

.o2{
    order: 2;
}

.o3{
    order: 3;
}

.planos{
    padding: 70px 120px;
    margin-bottom: 80px;
}

.planos h2{
    font-size: 34px;
    margin: 0;
}

.planos-content{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.planos-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 4px solid #122a57;
    padding: 20px;
    min-width: 150px;
}

.planos-content h3{
    border-bottom: 2px solid #122a57;
    min-width: 150px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.planos-content ul{
    padding-left: 20px;
    align-self: flex-start;
    list-style-type: square;
    color: #122a57;

}

.planos-content ul span{
    color: black;
    margin-left: 7px;
    font-size: 14px;
}

.plano-1{
    min-height: 200px;
}

.plano-2{
    min-height: 270px;
}

.plano-3{
    min-height: 340px;
}

.plano-button{
    background-color: #122a57;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 6px 30px;
    font-weight: bold;
}

footer{
    background-color: #122a57;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: flex-end;
    padding: 5px 80px;
    min-height: 60px;
}